/*#region top level def*/

* {
    /*border: 1px solid red !important;
*/
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    background-color: #BCBBBB;
}

body {}
/* nice block quote setup */
/*https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    height: 5rem;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

a {
    color: #000000;
    text-decoration: none;
}

.app {
    background-color: #fff;
    width: 960px;
    margin: auto;
    z-index: 10;
}

.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 975px) {
    .app {
        width: 720px;
    }
}

@media screen and (max-width: 735px) {
    .app {
        width: 600px;
    }
    blockquote {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 615px) {
    .app {
        width: 540px;
    }
    blockquote {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 555px) {
    .app {
        width: 360px;
    }
    blockquote {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 378px) {
    .app {
        width: 320px;
    }
    blockquote {
        overflow-y: scroll;
    }
}
/*#endregion top level def*/
/*#region grid*/

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
/*#endregion grid*/
/*#region titlebar*/

.title-bar {
    padding-top: 10px;
}

.title-left {}

.title-right {
    text-align: right;
    color: #747704;
}

.title-name {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: 10px;
}

.title-blurb {
    font-size: 1rem;
    margin-right: 10px;
}

.title-icon {
    width: 100px;
    height: 100px;
    background-color: #F8981C;
    text-align: center;
    font-size: 4rem;
    color: #FFF;
    line-height: 100px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
}

.title-divider {
    border-bottom: 3px solid #BCBBBB;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 719px) {
    .title-icon {
        width: 75px;
        height: 75px;
        font-size: 2.5rem;
        line-height: 75px;
    }
    .title-name {
        font-size: 2rem;
        font-weight: 100;
        text-transform: uppercase;
    }
    .title-blurb {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 559px) {
    .title-icon {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        line-height: 50px;
    }
    .title-name {
        font-size: 1.5rem;
        font-weight: 100;
        text-transform: uppercase;
    }
    .title-blurb {
        font-size: 0.6rem;
    }
}
/*#endregion titlebar*/
/*#region hero*/

.hero {}

.hero-image {
    background: url(../images/hero.png) no-repeat center center;
    background-size: cover;
    height: 10rem;
}

.hero-text {
    display: block;
    color: #FFF;
    float: right;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 5px;
    font-weight: 100;
    clear: both;
}
/*#endregion hero*/
/*#region content*/

.content {}

.content-divider {
    border-top: 3px solid #BCBBBB;
    margin: 0 0 1em 0;
}

.content-header {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: .75em;
}

.content-header-text {
    font-weight: 400;
    color: #747704;
}

.content-section {
    text-align: center;
}

.content-section:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.content-section-image {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 599px) {
    .content-section-image {
        width: 75px;
        height: 75px;
    }
}
/*#endregion content*/
/*#region footer*/

.footer {
    text-align: center;
    font-size: 1rem;
}

.footer-contact {
    background-color: #F8981C;
    height: 40px;
    line-height: 40px;
}

.footer-link {
    background-color: #BCBBBB;
    height: 40px;
    line-height: 40px;
}

.footer-other {
    background-color: #747704;
    height: 40px;
    line-height: 40px;
}

@media screen and (max-width: 599px) {
    .footer {
        overflow: hidden;
    }
}
/*#endregion footer*/
/*#region hovers*/
/*citing example hover code from Josh Laincz on codepen*/
/*http://codepen.io/zohf/pen/jPEZjN*/

.hovers {
    color: white;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.hovers:after {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000000;
    width: 0;
}

.hovers.hovers-b:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.hovers:hover:after {
    width: 100%;
}
/*#endregion hovers*/
